.dino-come-back {
  width: 100%;
  height: 15rem;
  background-image: url(https://www.babytv.com/app/uploads/2020/11/Dino-Show-header-1.jpg);
  background-size: cover;
}
.dino-come-back > input {
  width: 10rem;
  height: 2.5rem;
  margin-left: 75rem;
  margin-top: 1rem;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(255, 143, 35);
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgb(116, 116, 116);
}
.dino-come-back > h1 {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 4rem;
  font-size: 3rem;
  font-weight: 800;
}
.dino-butterfly > img {
  width: 15rem;
  height: 15rem;
  position: fixed;
}
.dino-contr {
  width: 60%;
  height: 60rem;
  margin-top: 4rem;
  margin-left: 15rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px rgb(116, 116, 116);
  border-radius: 50px;
}
.dino-squirrel > img {
  margin-left: 67rem;
  /* margin-top: 14rem; */
  position: fixed;
}
.dino-slogan {
  margin-left: 4rem;
  padding-top: 1rem;
}
.dino-slogan > h1 {
  color: rgb(0, 238, 255);
  font-family: AG Book Rounded !important;
  /* font-weight: 900; */
  letter-spacing: 2px;
  font-size: 2.2rem;
}
.dino-slogan > h3 {
  color: rgb(0, 238, 255);
  font-family: AG Book Rounded !important;
  font-size: 1rem;
}
.dino-synopsis {
  margin-left: 1rem;
  margin-top: 1rem;
}
.dino-synopsis > input {
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  border: 1px dashed black;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  background-color: rgb(247, 247, 247);
}
.dino-synopsis > p {
  width: 95%;
  text-indent: 20px;
  margin-top: 5px;
  line-height: 25px;
}
.dino-attribute {
  margin-left: 1rem;
  margin-top: 1rem;
}
.dino-attribute > input {
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  border: 1px dashed black;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  background-color: rgb(247, 247, 247);
}
.dino-attribute > p {
  width: 95%;
  text-indent: 20px;
  margin-top: 5px;
  line-height: 25px;
}
.dino-tip {
  margin-left: 1rem;
  margin-top: 1rem;
}
.dino-tip > input {
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  border: 1px dashed black;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  background-color: rgb(247, 247, 247);
}
.dino-tip > p {
  width: 95%;
  text-indent: 20px;
  margin-top: 5px;
  line-height: 25px;
}
.dino-iframe {
  margin-top: 2rem;
  margin-left: 1.7rem;
}
