.signin-Out-cont {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 0.5%;
  color: rgb(133, 98, 54);
}
.signin-Out-cont > form {
  width: 70%;
  height: 78%;
  background-color: rgb(244, 240, 226);
  border: 1px solid grey;
  border-radius: 2px;
}
.signin-Out-tittle {
  width: 100%;
  height: 12%;
  /* border: 3px solid red; */
  background-color: rgb(142, 207, 55);
  color: white;
}
.signin-Out-tittle > p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 2%;
  font-weight: 800;
}

.signin-Out-second-bar {
  width: 100%;
  height: 12%;
  border-bottom: 2px dashed grey;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signin-Out-second-bar > p {
  margin-left: 2%;
  font-weight: 700;
  font-size: 17px;
  color: rgb(107, 77, 37);
}
.tools-second-bar {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.tools-second-bar > small {
  font-size: 15px;
  display: flex;
  align-items: center;
}
.tools-second-bar > img {
  width: 60%;
  height: 35px;
  margin-left: 3%;
}
.tools-there-bar > p {
  margin-top: 2%;
  margin-left: 2%;
}
.tools-there-bar > p > a {
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  /* color: rgb(142, 207, 55); */
}
.signin-Out-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 5%; */
}
.signin-Out-input > .signin-Out-input-child {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.signin-Out-input > .signin-Out-input-child > input {
  width: 15rem;
  height: 0.5rem;
  padding: 10px 13px;
  font-size: 15px;
  border-radius: 6px;
  outline: none;
  border: 1px solid grey;
  background-color: white;
  margin-left: 4%;
  /* margin-top: 3%; */
}
.signin-Out-input > .signin-Out-input-child > p {
  margin-right: 8%;
}
.signin-Out-input > input[type="button"] {
  margin-top: 3%;
  height: 45px;
  width: 15rem;
  background-color: rgb(255, 129, 15);
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgb(116, 116, 116);
  font-size: 17px;
  font-weight: 700;
  outline: none;
  border-radius: 10px;
}
.signin-Out-forget-password {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.signin-Out-epilogue {
  border-top: 2px dashed grey;
  height: 4rem;
  margin-top: 3.2rem;
  background-color: white;
}
.signin-Out-epilogue > p {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  font-size: 15px;
  font-weight: 500;
  /* align-items: center; */
}

@-webkit-keyframes my {
  0% {
    color: rgb(134, 189, 59);
  }
  50% {
    color: red;
  }
  100% {
    color: rgb(134, 189, 59);
  }
}
@-moz-keyframes my {
  0% {
    color: rgb(134, 189, 59);
  }
  50% {
    color: red;
  }
  100% {
    color: rgb(134, 189, 59);
  }
}
@-o-keyframes my {
  0% {
    color: rgb(134, 189, 59);
  }
  50% {
    color: red;
  }
  100% {
    color: rgb(134, 189, 59);
  }
}
@keyframes my {
  0% {
    color: rgb(134, 189, 59);
  }
  50% {
    color: red;
  }
  100% {
    color: rgb(134, 189, 59);
  }
}
.tools-there-bar > p > a {
  font-weight: bold;
  font-size: 20px;
  -webkit-animation: my 200ms infinite;
  -moz-animation: my 200ms infinite;
  -o-animation: my 200ms infinite;
  animation: my 200ms infinite;
}
