* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  background-color: rgb(132, 113, 199);
}
.border {
  border: 2px solid rgb(140, 102, 53);
}
.app-cont {
  width: 100vw;
  height: 100vh;
}
