* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
/* body {
  background-image: url("../public/ReactShareCode.png");
} */
.border {
  border: 2px solid rgb(140, 102, 53);
}
.app-cont {
  width: 100vw;
  height: 100vh;
}
