* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.border {
  border: 1px solid red;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("https://petrotimes.vn/stores/news_dataimages/tranminhquan/032019/03/21/ket-qua-bong-da-hom-nay-43.jpg");
  background-size: cover;
}
